-----BEGIN CERTIFICATE-----
MIIEbTCCAtWgAwIBAgIQejJk8l0p+oRknaFGq9vApzANBgkqhkiG9w0BAQsFADCB
jzEeMBwGA1UEChMVbWtjZXJ0IGRldmVsb3BtZW50IENBMTIwMAYDVQQLDClERVNL
VE9QLUZWMk1UNTJcS2FtaXNoaXJvQERFU0tUT1AtRlYyTVQ1MjE5MDcGA1UEAwww
bWtjZXJ0IERFU0tUT1AtRlYyTVQ1MlxLYW1pc2hpcm9AREVTS1RPUC1GVjJNVDUy
MB4XDTI0MDUwODE3MTYyOFoXDTI2MDgwODE3MTYyOFowXTEnMCUGA1UEChMebWtj
ZXJ0IGRldmVsb3BtZW50IGNlcnRpZmljYXRlMTIwMAYDVQQLDClERVNLVE9QLUZW
Mk1UNTJcS2FtaXNoaXJvQERFU0tUT1AtRlYyTVQ1MjCCASIwDQYJKoZIhvcNAQEB
BQADggEPADCCAQoCggEBAMBw+WzNG4IBLR4+JXWZzVXV8vpWmH9w1oHrls7+TTe8
8izT/5f2k5AeAeZhBBtYzDfnS7slHcr7AMy7MQJ+FMX3gpC5HffdsjgMzrzfHCPS
TQU7cdqe6Twye+AwHHraqG06NPCuROKFM0vGnbqtlY+wa7PXEWnBzIl2md4qqT4x
0UMiYzhEkLz6YqHkiMQpRqwxy2NT5uY4103r6UQYv0cn6EfGLqNsXB9ZDXEg9KQU
0nWUMu7+xA+WBLFVmjzvdAlXuII6pBnpwAfrztzEhRRUM9ZCsN3uG6Q6DTtfkdhe
fWxt8Y9qe0znd0piQOEJQJkveZV6Y10J00lqEaDq3PcCAwEAAaN2MHQwDgYDVR0P
AQH/BAQDAgWgMBMGA1UdJQQMMAoGCCsGAQUFBwMBMB8GA1UdIwQYMBaAFMLW1kgI
tCQUlsIy3Jrj3VfSrbgTMCwGA1UdEQQlMCOCCWxvY2FsaG9zdIcEfwAAAYcQAAAA
AAAAAAAAAAAAAAAAATANBgkqhkiG9w0BAQsFAAOCAYEAg3E7aJOekv6pnUnV5ML7
G9dkFmUlhkjJJKKCbj6zmPqKBC81yBKjiUdDy9ZjbcZLTbz7k22endWRn1WlIr+b
Pus0JXVWnjXRJc8yN5n+vCXgaLPfLaRjAZRhW5gNKPtTpzy/uhvBwtRsis30O+iy
5HuhDo/df6S26K4AL04HHjZ5uCbJ/rhKjfxdOYX6Umn5iYZOQzFQoRUD+oCQBliS
2wWWlgy4KRBwBPTy8iRktLUCHQSOJ8JuJj6+winCWrKRNgisLlbcjhsYaQ4cLpbo
jWW5hyHbue+bHGiWnBmse7QF3oaLlJWIvF6h3MfU9toN7qT8akhf2AdtAKsT8UHl
VU5DdzD3H1BBR7b0BLGjrL57R48OmdVMWmMVpln0Tm3sLgNXrngrwm+fYDHFyC4f
Bv83jLiNErsZMm83Qlbdn7euY+rsWfSbQFQ6wHiqApgRCc20QDiUILyM4LpUeY/m
sFfokPPqs6y7UzTDv90cPv2v41M9mZPxbiGTyBPy01WX
-----END CERTIFICATE-----
